.footer {
    background-color: #182754;
}

.footer_wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 9rem;
    color:#FFFFFF;
    font-family: 'Courier New', Courier, monospace;
    padding: 1.1rem 0px;
}

.footer_wrapper h2:hover {
    color: #00828c;
}

.footer_service, .social {
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-weight: 500;
    cursor: pointer;
}

.footer_service li{
    padding: 5px;
}

.footer_service li:hover{
    color: #00828c;
}

.social{
    margin-left: .5rem;
}

.social li{
    padding: 5px;
}

@media only screen and (max-width: 845px){

    .footer_wrapper {
        padding: 5.1rem 0px;
    }

    .footer_service {
        flex-direction: column;
        font-size: 18px;
    }

    .social{
        flex-wrap: wrap;
    }
}